page-alarm {
    .alarmTimeLabel {
        font-size: xx-large;
        display: inline-table;
        margin-right: 15px;
    }
    .descriptionLabel {
        color: rgba(101, 100, 100, 0.78);
        margin-bottom: 5px;
    }
}
